# IDE-related files and folders
.idea/
.gradle/
*.iml
local.properties

# Android build artifacts
/build/
/captures/
.cxx/
.externalNativeBuild/
# Also commonly ignored
.DS_Store

# Temporary files and caches
# You can add more specific temporary files here if needed
/Generated/
*.apk
